.genz-container {
  width: 100%;
  background-color: #f5f5f6;
  padding-bottom: 40px;
  font-family: Arial, sans-serif;
}


.genz-banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}

.banner-overlay h1 {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.banner-overlay p {
  font-size: 18px;
  margin-bottom: 20px;
}

.shop-btn {
  padding: 12px 25px;
  background-color: #ff3f6c;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.shop-btn:hover {
  background-color: #e7335c;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 60px;
}


.product-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
}

.product-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-info p {
  font-size: 14px;
  color: gray;
  margin-bottom: 8px;
}

.rating {
  font-size: 14px;
  color: black;
  margin-bottom: 8px;
}

.price {
  font-size: 16px;
  font-weight: bold;
}
.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

.rating-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;

  padding: 5px 10px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 500;
  color: black;
}
