.kids-container {
  padding: 20px 60px;
  background: #f5f5f6;
}

.kids-banner {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 15px;
  overflow: hidden;
}

.kids-banner img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
}

.kids-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.banner-overlay {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.banner-overlay h1 {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.banner-overlay p {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}



.banner-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}

.banner-overlay h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}

.banner-overlay p {
  font-size: 22px;
}

.kids-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}


.kids-card {
  background: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}

.kids-card:hover {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 340px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.rating-badge {
  position: absolute;
  bottom: 12px;
  left: 10px;
  background: rgba(255, 255, 255, 0.95);
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.kids-info {
  padding: 12px;
}

.kids-info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.name {
  font-size: 13px;
  color: #535766;
  margin-bottom: 8px;
}


.price-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-weight: bold;
  color: #282c3f;
}

.original {
  text-decoration: line-through;
  color: #94969f;
  font-size: 13px;
}

.discount {
  color: #ff905a;
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .kids-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .kids-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .kids-banner img {
    height: 250px;
  }

  .banner-overlay h1 {
    font-size: 28px;
  }

  .banner-overlay p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .kids-banner img {
    height: 250px;
  }

  .banner-overlay h1 {
    font-size: 28px;
  }

  .banner-overlay p {
    font-size: 14px;
  }

  .shop-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}
