


















































/* .studio-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.reels-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reel-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f8f8f8;
  max-width: 350px;
}

.reel-video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin: 5px 0;
}

p {
  margin: 2px 0;
} */
