.women-container {
  padding: 40px 60px;
  background: #f5f5f6;
}

.women-banner {
  position: relative;
  height: 380px;
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.women-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.women-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.banner-content h1 {
  font-size: 46px;
  font-weight: 800;
}

.banner-content p {
  margin: 15px 0;
  font-size: 18px;
}

.banner-content button {
  padding: 12px 24px;
  border: none;
  background: #ff3f6c;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.women-title {
  font-size: 22px;
  margin-bottom: 25px;
  color: #282c3f;
}


.women-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.women-card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}

.women-card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.4s ease;
}

.women-card:hover img {
  transform: scale(1.05);
}


.product-info {
  padding: 12px;
}

.brand {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.name {
  font-size: 13px;
  color: #696b79;
  margin-bottom: 8px;
}



.rating-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 4px;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.new-price {
  font-weight: 700;
  color: #282c3f;
}

.old-price {
  text-decoration: line-through;
  color: #94969f;
  font-size: 13px;
}

.discount {
  color: #ff905a;
  font-size: 13px;
  font-weight: 600;
}



@media (max-width: 1024px) {
  .women-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .women-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .women-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .women-container {
    padding: 20px;
  }
}
