
.banner-wrapper {
  width: 100%;
  margin-top: 12px;
}

.main-banner {
  width: 100%;
  max-width: 1400px;
  max-height: 482px;
  height: auto;
  aspect-ratio: 16 / 5;
  object-fit: cover;
  display: block;
  margin: 80px auto 0;
  border-radius: 12px;
}


.bottom-slider {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  max-height: 460px;
  height: auto;
  aspect-ratio: 16 / 4;
  object-fit: cover;
  display: block;
}


.slider-dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.dot.active {
  background-color: hsla(346, 7%, 50%, 0.96);
}
.card-section{
  width: 100%;
}

.card-section h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 65px 0 16px 40px;
}
.cards-wrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 0 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.cards-wrapper::-webkit-scrollbar {
  display: none;
}


.card {
  flex: 0 0 20%;
  max-width: 20%;
  background: #fff;
  scroll-snap-align: start;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 450px;
}

.card-img-wrapper img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.discount-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 25px;
}

.cart-title-off-text-wrapper {
  background-color: white;
  padding: 12px;
  text-align: center;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.off-text {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}


@media (max-width: 1024px) {
  .card {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}


@media (max-width: 768px) {
  .main-banner {
    max-height: 260px;
    margin-top: 20px;
    border-radius: 8px;
  }

  .slider-img {
    max-height: 220px;
    width: 90%;
    border-radius: 8px;
  }

  .dot {
    height: 5px;
    width: 5px;
  }

  .card {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .card-title {
    font-size: 16px;
  }

  .off-text {
    font-size: 18px;
  }
}


@media (max-width: 480px) {
  .card {
    flex: 0 0 85%;
    max-width: 85%;
  }
  .card-img-wrapper img {
  width: 100%;
  }
  .cards-wrapper {
  width: 100%;
}
.card-section{
  width: 100%;
}
 .card {
  width: 100%;
 }
}




